@{
  ViewData["Title"] = "Home Page";
}

@model ClientViewModel[]
<div class="row">
  <div class="col-8 offset-2">
    <h3>Clients</h3>
    @foreach (var client in Model)
    {
      <div> @client.Name - @client.ContactName</div>
      <div> Ph: @client.Phone </div>
      <div> @client.CityTown - @client.StateProvince</div>
    }
  </div>
</div>

